<h1>CIA_Factbook_SQL</h1>
<h3>Generate summary statistics using SQL</h3>
The Data is from CIA World Factbook (factbook.db) and was provided by DataQuest.

<h4>SQL: install and connect</h4>

In [10]:
!conda install -yc conda-forge ipython-sql

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.

In [6]:
%%capture
%load_ext sql
%sql sqlite:///factbook.db

<h4>Quick look at data</h4>

In [9]:
%%sql
SELECT *
  FROM facts
 LIMIT 5;

 * sqlite:///factbook.db
Done.

[(1, 'af', 'Afghanistan', 652230, 652230, 0, 32564342, 2.32, 38.57, 13.89, 1.51),
 (2, 'al', 'Albania', 28748, 27398, 1350, 3029278, 0.3, 12.92, 6.58, 3.3),
 (3, 'ag', 'Algeria', 2381741, 2381741, 0, 39542166, 1.84, 23.67, 4.31, 0.92),
 (4, 'an', 'Andorra', 468, 468, 0, 85580, 0.12, 8.13, 6.96, 0.0),
 (5, 'ao', 'Angola', 1246700, 1246700, 0, 19625353, 2.78, 38.78, 11.49, 0.46)]

- [name] - The name of the country.
- [area] - The total land and sea area of the country.
- [population] - The country's population.
- [population_growth] - The country's population growth as a percentage.
- [birth_rate] - The country's birth rate, or the number of births a year per 1,000 people.
- [death_rate] - The country's death rate, or the number of death a year per 1,000 people.
- [area] - The country's total area (both land and water).
- [area_land] - The country's land area in square kilometers.
- [area_water] - The country's waterarea in square kilometers.

<h4>Summary of data: min/max population, min/max population growth

In [12]:
%%sql
SELECT MIN(population) AS min_pop,
       MAX(population) AS max_pop,
       MIN(population_growth) AS min_pop_growth,
       MAX(population_growth) AS max_pop_growth
  FROM facts;

 * sqlite:///factbook.db
Done.

[(0, 7256490011, 0.0, 4.02)]

<h2>Population</h2>
<h4>Outliers: select countries with min population</h4>
(according to cell with summary there is a country without population)

In [111]:
%%sql
SELECT name AS Lowest_pop_country,
       population
  FROM facts
 WHERE population == (SELECT MIN(population)
                      FROM   facts);

 * sqlite:///factbook.db
Done.

[('Antarctica', 0)]

<h4>Outliers: select countries with max population</h4>
(according to cell above there is a country with 7 billion population)

In [110]:
%%sql
SELECT name AS Highest_pop_country,
       population
  FROM facts
 WHERE population == (SELECT MAX(population)
                      FROM   facts);

 * sqlite:///factbook.db
Done.

[('World', 7256490011)]

In [28]:
%%sql
SELECT name AS Highest_pop_country,
       population
  FROM facts
 WHERE population == (SELECT MAX(population)
                      FROM   facts
                      WHERE  name <> 'World');

 * sqlite:///factbook.db
Done.

[('China', 1367485388)]

<h2>Density</h2>
<h4>Get average population/country and average area/country</h4>
(excluding World)

In [108]:
%%sql
SELECT CAST(AVG(population) AS Integer) AS avg_pop,
       ROUND(AVG(area), 2) AS avg_area
  FROM facts
 WHERE name <> 'World';

 * sqlite:///factbook.db
Done.

[(32242666, 555093.55)]

<h4>Select high density countries</h4>
Countries with population above average, area below average

In [42]:
%%sql
  SELECT name,
         population,
         area
    FROM facts
   WHERE population > (SELECT AVG(population)
                       FROM   facts
                       WHERE  name <> 'World')
     AND area < (SELECT AVG(area)
                 FROM   facts
                 WHERE  name <> 'World')
ORDER BY population DESC
   LIMIT 10;

 * sqlite:///factbook.db
Done.

[('Bangladesh', 168957745, 148460),
 ('Japan', 126919659, 377915),
 ('Philippines', 100998376, 300000),
 ('Vietnam', 94348835, 331210),
 ('Germany', 80854408, 357022),
 ('Thailand', 67976405, 513120),
 ('United Kingdom', 64088222, 243610),
 ('Italy', 61855120, 301340),
 ('Korea, South', 49115196, 99720),
 ('Spain', 48146134, 505370)]

Top 5 countries with highest population density<br/>
(population_density = population / area)

In [45]:
%%sql
  SELECT name,
         population,
         area,
         population / area AS population_density
    FROM facts
ORDER BY population_density DESC
   LIMIT 10;

 * sqlite:///factbook.db
Done.

[('Macau', 592731, 28, 21168),
 ('Monaco', 30535, 2, 15267),
 ('Singapore', 5674472, 697, 8141),
 ('Hong Kong', 7141106, 1108, 6445),
 ('Gaza Strip', 1869055, 360, 5191),
 ('Gibraltar', 29258, 6, 4876),
 ('Bahrain', 1346613, 760, 1771),
 ('Maldives', 393253, 298, 1319),
 ('Malta', 413965, 316, 1310),
 ('Bermuda', 70196, 54, 1299)]

<h2>Growth Rate</h2>
<h4>Select countries with highest population and highest growth rate</h4>

In [33]:
%%sql
SELECT name AS Highest_growth_country,
       population_growth
  FROM facts
 WHERE population_growth == (SELECT MAX(population_growth)
                             FROM   facts
                             WHERE  name <> 'World');

 * sqlite:///factbook.db
Done.

[('South Sudan', 4.02)]

<h4>Calculate population for next year</h4>
new_population = population * population_growth

(show top 5 countries with highest expected population)

In [46]:
%%sql
  SELECT name,
         population,
         population_growth,
         CAST(population * population_growth AS Integer) AS new_population
    FROM facts
   WHERE name <> 'World'
ORDER BY new_population DESC
   LIMIT 5;

 * sqlite:///factbook.db
Done.

[('India', 1251695584, 1.22, 1527068612),
 ('China', 1367485388, 0.45, 615368424),
 ('Nigeria', 181562056, 2.45, 444827037),
 ('Pakistan', 199085847, 1.46, 290665336),
 ('Ethiopia', 99465819, 2.89, 287456216)]

<h2>Migration Rate</h2>
<h4>Outiers: highest migration rate</h4>

In [79]:
%%sql
SELECT name AS highest_migration_rate_country,
       migration_rate
  FROM facts
 WHERE migration_rate == (SELECT MAX(migration_rate)
                          FROM   facts
                          WHERE  name <> 'World');

 * sqlite:///factbook.db
Done.

[('Qatar', 22.39)]

<h4>Count countries with migration_rate is equal to 0.0</h4>

In [100]:
%%sql
SELECT SUM(migration_rate=0.0) AS countries_zero_migration_rate
  FROM facts;

 * sqlite:///factbook.db
Done.

[(35,)]

<h4>Sort Countries according to migration_rate</h4>

In [106]:
%%sql
  SELECT name AS country,
         migration_rate,
         CASE
         WHEN migration_rate < (SELECT AVG(migration_rate) FROM facts) THEN 'low'
         WHEN migration_rate > (SELECT AVG(migration_rate) FROM facts) THEN 'high'
         END AS classified_migration_rate
    FROM facts
   WHERE migration_rate <> 'None'   
GROUP BY country
ORDER BY classified_migration_rate;

 * sqlite:///factbook.db
Done.

[('American Samoa', 21.13, 'high'),
 ('Anguilla', 12.18, 'high'),
 ('Armenia', 5.8, 'high'),
 ('Aruba', 8.92, 'high'),
 ('Australia', 5.65, 'high'),
 ('Austria', 5.56, 'high'),
 ('Bahrain', 13.09, 'high'),
 ('Belgium', 5.87, 'high'),
 ('Botswana', 4.56, 'high'),
 ('British Virgin Islands', 17.28, 'high'),
 ('Canada', 5.66, 'high'),
 ('Cayman Islands', 14.4, 'high'),
 ('Chad', 3.45, 'high'),
 ('Congo, Republic of the', 5.9, 'high'),
 ('Cuba', 3.66, 'high'),
 ('Cyprus', 9.48, 'high'),
 ('Djibouti', 6.06, 'high'),
 ('Dominica', 5.38, 'high'),
 ('El Salvador', 8.28, 'high'),
 ('Estonia', 3.6, 'high'),
 ('Fiji', 6.75, 'high'),
 ('Greenland', 5.98, 'high'),
 ('Guam', 6.34, 'high'),
 ('Guyana', 8.06, 'high'),
 ('Iceland', 4.43, 'high'),
 ('Ireland', 4.09, 'high'),
 ('Isle of Man', 6.56, 'high'),
 ('Italy', 4.1, 'high'),
 ('Jamaica', 4.66, 'high'),
 ('Jersey', 3.76, 'high'),
 ('Jordan', 13.24, 'high'),
 ('Kyrgyzstan', 5.22, 'high'),
 ('Latvia', 6.26, 'high'),
 ('Lesotho', 7.36, 'high'),
 ('Libya', 7.8, 'high'),
 ('Liechtenstein', 5.08, 'high'),
 ('Lithuania', 6.27, 'high'),
 ('Luxembourg', 17.16, 'high'),
 ('Maldives', 12.68, 'high'),
 ('Marshall Islands', 4.83, 'high'),
 ('Micronesia, Federated States of', 20.93, 'high'),
 ('Moldova', 9.67, 'high'),
 ('Monaco', 3.83, 'high'),
 ('Nauru', 13.63, 'high'),
 ('Nepal', 3.86, 'high'),
 ('New Caledonia', 4.01, 'high'),
 ('Northern Mariana Islands', 7.16, 'high'),
 ('Norway', 7.25, 'high'),
 ('Puerto Rico', 8.15, 'high'),
 ('Qatar', 22.39, 'high'),
 ('Saint Pierre and Miquelon', 8.49, 'high'),
 ('Saint Vincent and the Grenadines', 9.17, 'high'),
 ('Samoa', 9.78, 'high'),
 ('San Marino', 8.03, 'high'),
 ('Sao Tome and Principe', 8.63, 'high'),
 ('Singapore', 14.05, 'high'),
 ('Sint Maarten', 6.63, 'high'),
 ('Somalia', 8.49, 'high'),
 ('South Sudan', 11.47, 'high'),
 ('Spain', 8.31, 'high'),
 ('Sudan', 4.29, 'high'),
 ('Sweden', 5.42, 'high'),
 ('Switzerland', 4.74, 'high'),
 ('Syria', 19.79, 'high'),
 ('Timor-Leste', 3.86, 'high'),
 ('Tonga', 17.84, 'high'),
 ('Trinidad and Tobago', 6.25, 'high'),
 ('Turks and Caicos Islands', 9.94, 'high'),
 ('Tuvalu', 6.81, 'high'),
 ('United Arab Emirates', 12.36, 'high'),
 ('United States', 3.86, 'high'),
 ('Virgin Islands', 7.67, 'high'),
 ('Wallis and Futuna', 5.06, 'high'),
 ('Afghanistan', 1.51, 'low'),
 ('Albania', 3.3, 'low'),
 ('Algeria', 0.92, 'low'),
 ('Andorra', 0.0, 'low'),
 ('Angola', 0.46, 'low'),
 ('Antigua and Barbuda', 2.21, 'low'),
 ('Argentina', 0.0, 'low'),
 ('Azerbaijan', 0.0, 'low'),
 ('Bahamas, The', 0.0, 'low'),
 ('Bangladesh', 0.46, 'low'),
 ('Barbados', 0.3, 'low'),
 ('Belarus', 0.7, 'low'),
 ('Belize', 0.0, 'low'),
 ('Benin', 0.0, 'low'),
 ('Bermuda', 1.88, 'low'),
 ('Bhutan', 0.0, 'low'),
 ('Bolivia', 0.62, 'low'),
 ('Bosnia and Herzegovina', 0.38, 'low'),
 ('Brazil', 0.14, 'low'),
 ('Brunei', 2.43, 'low'),
 ('Bulgaria', 0.29, 'low'),
 ('Burkina Faso', 0.0, 'low'),
 ('Burma', 0.28, 'low'),
 ('Burundi', 0.0, 'low'),
 ('Cabo Verde', 0.63, 'low'),
 ('Cambodia', 0.32, 'low'),
 ('Cameroon', 0.15, 'low'),
 ('Central African Republic', 0.0, 'low'),
 ('Chile', 0.34, 'low'),
 ('China', 0.44, 'low'),
 ('Colombia', 0.64, 'low'),
 ('Comoros', 2.53, 'low'),
 ('Congo, Democratic Republic of the', 0.27, 'low'),
 ('Costa Rica', 0.83, 'low'),
 ("Cote d'Ivoire", 0.0, 'low'),
 ('Croatia', 1.39, 'low'),
 ('Curacao', 1.4, 'low'),
 ('Czech Republic', 2.33, 'low'),
 ('Denmark', 2.2, 'low'),
 ('Dominican Republic', 1.91, 'low'),
 ('Ecuador', 0.0, 'low'),
 ('Egypt', 0.19, 'low'),
 ('Equatorial Guinea', 0.0, 'low'),
 ('Eritrea', 0.0, 'low'),
 ('Ethiopia', 0.22, 'low'),
 ('European Union', 2.5, 'low'),
 ('Faroe Islands', 0.0, 'low'),
 ('Finland', 3.1, 'low'),
 ('France', 1.09, 'low'),
 ('French Polynesia', 0.84, 'low'),
 ('Gabon', 2.03, 'low'),
 ('Gambia, The', 2.12, 'low'),
 ('Gaza Strip', 0.0, 'low'),
 ('Georgia', 2.7, 'low'),
 ('Germany', 1.24, 'low'),
 ('Ghana', 2.02, 'low'),
 ('Gibraltar', 3.28, 'low'),
 ('Greece', 2.32, 'low'),
 ('Grenada', 3.13, 'low'),
 ('Guatemala', 1.97, 'low'),
 ('Guernsey', 2.32, 'low'),
 ('Guinea', 0.0, 'low'),
 ('Guinea-Bissau', 0.0, 'low'),
 ('Haiti', 2.76, 'low'),
 ('Honduras', 1.16, 'low'),
 ('Hong Kong', 1.68, 'low'),
 ('Hungary', 1.33, 'low'),
 ('India', 0.04, 'low'),
 ('Indonesia', 1.16, 'low'),
 ('Iran', 0.07, 'low'),
 ('Iraq', 1.62, 'low'),
 ('Israel', 2.24, 'low'),
 ('Japan', 0.0, 'low'),
 ('Kazakhstan', 0.41, 'low'),
 ('Kenya', 0.22, 'low'),
 ('Kiribati', 2.87, 'low'),
 ('Korea, North', 0.04, 'low'),
 ('Korea, South', 0.0, 'low'),
 ('Kuwait', 1.58, 'low'),
 ('Laos', 1.09, 'low'),
 ('Lebanon', 1.1, 'low'),
 ('Liberia', 0.0, 'low'),
 ('Macau', 3.37, 'low'),
 ('Macedonia', 0.48, 'low'),
 ('Madagascar', 0.0, 'low'),
 ('Malawi', 0.0, 'low'),
 ('Malaysia', 0.33, 'low'),
 ('Mali', 2.26, 'low'),
 ('Malta', 1.98, 'low'),
 ('Mauritania', 0.83, 'low'),
 ('Mauritius', 0.0, 'low'),
 ('Mexico', 1.68, 'low'),
 ('Mongolia', 0.84, 'low'),
 ('Montserrat', 0.0, 'low'),
 ('Morocco', 3.36, 'low'),
 ('Mozambique', 1.98, 'low'),
 ('Namibia', 0.0, 'low'),
 ('Netherlands', 1.95, 'low'),
 ('New Zealand', 2.21, 'low'),
 ('Nicaragua', 3.0, 'low'),
 ('Niger', 0.56, 'low'),
 ('Nigeria', 0.22, 'low'),
 ('Oman', 0.43, 'low'),
 ('Pakistan', 1.54, 'low'),
 ('Palau', 0.71, 'low'),
 ('Panama', 0.28, 'low'),
 ('Papua New Guinea', 0.0, 'low'),
 ('Paraguay', 0.07, 'low'),
 ('Peru', 2.53, 'low'),
 ('Philippines', 2.09, 'low'),
 ('Poland', 0.46, 'low'),
 ('Portugal', 2.67, 'low'),
 ('Romania', 0.24, 'low'),
 ('Russia', 1.69, 'low'),
 ('Rwanda', 0.85, 'low'),
 ('Saint Helena, Ascension, and Tristan da Cunha', 0.0, 'low'),
 ('Saint Kitts and Nevis', 1.21, 'low'),
 ('Saint Lucia', 2.93, 'low'),
 ('Saudi Arabia', 0.55, 'low'),
 ('Senegal', 1.59, 'low'),
 ('Serbia', 0.0, 'low'),
 ('Seychelles', 1.0, 'low'),
 ('Sierra Leone', 2.77, 'low'),
 ('Slovakia', 0.04, 'low'),
 ('Slovenia', 0.37, 'low'),
 ('Solomon Islands', 1.75, 'low'),
 ('South Africa', 2.42, 'low'),
 ('Sri Lanka', 1.35, 'low'),
 ('Suriname', 0.56, 'low'),
 ('Swaziland', 0.0, 'low'),
 ('Taiwan', 0.89, 'low'),
 ('Tajikistan', 1.15, 'low'),
 ('Tanzania', 0.54, 'low'),
 ('Thailand', 0.0, 'low'),
 ('Togo', 0.0, 'low'),
 ('Tunisia', 1.73, 'low'),
 ('Turkey', 2.16, 'low'),
 ('Turkmenistan', 1.84, 'low'),
 ('Uganda', 0.74, 'low'),
 ('Ukraine', 2.25, 'low'),
 ('United Kingdom', 2.54, 'low'),
 ('Uruguay', 0.9, 'low'),
 ('Uzbekistan', 2.37, 'low'),
 ('Vanuatu', 1.47, 'low'),
 ('Venezuela', 0.0, 'low'),
 ('Vietnam', 0.3, 'low'),
 ('West Bank', 0.0, 'low'),
 ('Yemen', 1.0, 'low'),
 ('Zambia', 0.68, 'low'),
 ('Zimbabwe', 0.0, 'low')]

<h2>Area</h2>
<h4>Select Countries that have more water than land</h4>
(ratio_water_land = area_water/area_land)

In [50]:
%%sql
SELECT name,
       area_water,
       area_land,
       (area_water / area_land) AS ratio_water_land
  FROM facts
 WHERE area_water > area_land
   AND name <> 'World';

 * sqlite:///factbook.db
Done.

[('British Indian Ocean Territory', 54340, 60, 905),
 ('Virgin Islands', 1564, 346, 4)]

British Indian Ocian Territory has 905 times more water than land<br/>
Virgin Islands has 4 times more water than land

<h4>Calculate percentage water</h4>
(perc_area_water = area_water / area)

In [132]:
%%sql
  SELECT name,
         area,
         area_land,
         area_water,
         ROUND((CAST(area_water AS Float) / CAST(area AS Float) * 100),2) AS perc_area_water
    FROM facts
   WHERE name <> 'World'
     AND perc_area_water <> 'None'
ORDER BY perc_area_water DESC;

 * sqlite:///factbook.db
Done.

[('British Indian Ocean Territory', 54400, 60, 54340, 99.89),
 ('Virgin Islands', 1910, 346, 1564, 81.88),
 ('Puerto Rico', 13791, 8870, 4921, 35.68),
 ('Bahamas, The', 13880, 10010, 3870, 27.88),
 ('Guinea-Bissau', 36125, 28120, 8005, 22.16),
 ('Malawi', 118484, 94080, 24404, 20.6),
 ('Netherlands', 41543, 33893, 7650, 18.41),
 ('Uganda', 241038, 197100, 43938, 18.23),
 ('Eritrea', 117600, 101000, 16600, 14.12),
 ('Liberia', 111369, 96320, 15049, 13.51),
 ('Bangladesh', 148460, 130170, 18290, 12.32),
 ('Gambia, The', 11300, 10120, 1180, 10.44),
 ('Taiwan', 35980, 32260, 3720, 10.34),
 ('Finland', 338145, 303815, 34330, 10.15),
 ('India', 3287263, 2973193, 314070, 9.55),
 ('Ethiopia', 1104300, None, 104300, 9.44),
 ('Canada', 9984670, 9093507, 891163, 8.93),
 ('Sweden', 450295, 410335, 39960, 8.87),
 ('Colombia', 1138910, 1038700, 100210, 8.8),
 ('Brunei', 5765, 5265, 500, 8.67),
 ('Guyana', 214969, 196849, 18120, 8.43),
 ('French Polynesia', 4167, 3827, 340, 8.16),
 ('Nicaragua', 130370, 119990, 10380, 7.96),
 ('Burundi', 27830, 25680, 2150, 7.73),
 ('Iran', 1648195, 1531595, 116600, 7.07),
 ('United States', 9826675, 9161966, 664709, 6.76),
 ('Tanzania', 947300, 885800, 61500, 6.49),
 ('Vietnam', 331210, 310070, 21140, 6.38),
 ('Rwanda', 26338, 24668, 1670, 6.34),
 ('Estonia', 45228, 42388, 2840, 6.28),
 ('Norway', 323802, 304282, 19520, 6.03),
 ('Armenia', 29743, 28203, 1540, 5.18),
 ('Tunisia', 163610, 155360, 8250, 5.04),
 ('Uzbekistan', 447400, 425400, 22000, 4.92),
 ('Indonesia', 1904569, 1811569, 93000, 4.88),
 ('Suriname', 163820, 156000, 7820, 4.77),
 ('Albania', 28748, 27398, 1350, 4.7),
 ('Ghana', 238533, 227533, 11000, 4.61),
 ('Azerbaijan', 86600, 82629, 3971, 4.59),
 ('Togo', 56785, 54385, 2400, 4.23),
 ('Russia', 17098242, 16377742, 720500, 4.21),
 ('Kyrgyzstan', 199951, 191801, 8150, 4.08),
 ('Tonga', 747, 717, 30, 4.02),
 ('Lithuania', 65300, 62680, 2620, 4.01),
 ('Ukraine', 603550, 579330, 24220, 4.01),
 ('West Bank', 5860, 5640, 220, 3.75),
 ('Gabon', 267667, 257667, 10000, 3.74),
 ('Turkmenistan', 488100, 469930, 18170, 3.72),
 ('Hungary', 93028, 89608, 3420, 3.68),
 ('Latvia', 64589, 62249, 2340, 3.62),
 ('Romania', 238391, 229891, 8500, 3.57),
 ('Japan', 377915, 364485, 13430, 3.55),
 ('Burma', 676578, 653508, 23070, 3.41),
 ('Congo, Democratic Republic of the', 2344858, 2267048, 77810, 3.32),
 ('Venezuela', 912050, 882050, 30000, 3.29),
 ('Pakistan', 796095, 770875, 25220, 3.17),
 ('Hong Kong', 1108, 1073, 35, 3.16),
 ('Solomon Islands', 28896, 27986, 910, 3.15),
 ('Switzerland', 41277, 39997, 1280, 3.1),
 ('Moldova', 33851, 32891, 960, 2.84),
 ('China', 9596960, 9326410, 270550, 2.82),
 ('Korea, South', 99720, 96920, 2800, 2.81),
 ('Poland', 312685, 304255, 8430, 2.7),
 ('Iceland', 103000, 100250, 2750, 2.67),
 ('Montenegro', 13812, 13452, 360, 2.61),
 ('Nepal', 147181, 143351, 3830, 2.6),
 ('Botswana', 581730, 566730, 15000, 2.58),
 ('Laos', 236800, 230800, 6000, 2.53),
 ('Cambodia', 181035, 176515, 4520, 2.5),
 ('Italy', 301340, 294140, 7200, 2.39),
 ('Ecuador', 283561, 276841, 6720, 2.37),
 ('Germany', 357022, 348672, 8350, 2.34),
 ('Paraguay', 406752, 397302, 9450, 2.32),
 ('Belarus', 207600, 202900, 4700, 2.26),
 ('Bulgaria', 110879, 108489, 2390, 2.16),
 ('Papua New Guinea', 462840, 452860, 9980, 2.16),
 ('Senegal', 196722, 192530, 4192, 2.13),
 ('Israel', 20770, 20330, 440, 2.12),
 ('Czech Republic', 78867, 77247, 1620, 2.05),
 ('Ireland', 70273, 68883, 1390, 1.98),
 ('Kenya', 580367, 569140, 11227, 1.93),
 ('Slovakia', 49035, 48105, 930, 1.9),
 ('Brazil', 8515770, 8358140, 157630, 1.85),
 ('Tajikistan', 144100, 141510, 2590, 1.8),
 ('Benin', 112622, 110622, 2000, 1.78),
 ('Turkey', 783562, 769632, 13930, 1.78),
 ('Austria', 83871, 82445, 1426, 1.7),
 ('Chile', 756102, 743812, 12290, 1.63),
 ('Lebanon', 10400, 10230, 170, 1.63),
 ('Mozambique', 799380, 786380, 13000, 1.63),
 ('Saint Lucia', 616, 606, 10, 1.62),
 ('Somalia', 637657, 627337, 10320, 1.62),
 ('New Caledonia', 18575, 18275, 300, 1.62),
 ('Mali', 1240192, 1220190, 20002, 1.61),
 ('Guatemala', 108889, 107159, 1730, 1.59),
 ('Argentina', 2780400, 2736690, 43710, 1.57),
 ('Denmark', 43094, 42434, 660, 1.53),
 ('El Salvador', 21041, 20721, 320, 1.52),
 ('Sri Lanka', 65610, 64630, 980, 1.49),
 ('Jamaica', 10991, 10831, 160, 1.46),
 ('Panama', 75420, 74340, 1080, 1.43),
 ('Singapore', 697, 687, 10, 1.43),
 ('Nigeria', 923768, 910768, 13000, 1.41),
 ('Bolivia', 1098581, 1083301, 15280, 1.39),
 ("Cote d'Ivoire", 322463, 318003, 4460, 1.38),
 ('Spain', 505370, 498980, 6390, 1.26),
 ('Zambia', 752618, 743398, 9220, 1.23),
 ('Croatia', 56594, 55974, 620, 1.1),
 ('Macedonia', 25713, 25433, 280, 1.09),
 ('Mexico', 1964375, 1943945, 20430, 1.04),
 ('Zimbabwe', 390757, 386847, 3910, 1.0),
 ('Greece', 131957, 130647, 1310, 0.99),
 ('Cuba', 110860, 109820, 1040, 0.94),
 ('Madagascar', 587041, 581540, 5501, 0.94),
 ('Kazakhstan', 2724900, 2699700, 25200, 0.92),
 ('Swaziland', 17364, 17204, 160, 0.92),
 ('Syria', 185180, 183630, 1550, 0.84),
 ('Belgium', 30528, 30278, 250, 0.82),
 ('Australia', 7741220, 7682300, 58920, 0.76),
 ('Dominican Republic', 48670, 48320, 350, 0.72),
 ('Belize', 22966, 22806, 160, 0.7),
 ('United Kingdom', 243610, 241930, 1680, 0.69),
 ('Haiti', 27750, 27560, 190, 0.68),
 ('Mongolia', 1564116, 1553556, 10560, 0.68),
 ('Uruguay', 176215, 175015, 1200, 0.68),
 ('Portugal', 92090, 91470, 620, 0.67),
 ('Philippines', 300000, 298170, 1830, 0.61),
 ('Egypt', 1001450, 995450, 6000, 0.6),
 ('Jordan', 89342, 88802, 540, 0.6),
 ('Slovenia', 20273, 20151, 122, 0.6),
 ('Cameroon', 475440, 472710, 2730, 0.57),
 ('France', 643801, 640427, 3374, 0.52),
 ('Mauritius', 2040, 2030, 10, 0.49),
 ('Thailand', 513120, 510890, 2230, 0.43),
 ('Peru', 1285216, 1279996, 5220, 0.41),
 ('South Africa', 1219090, 1214470, 4620, 0.38),
 ('Malaysia', 329847, 328657, 1190, 0.36),
 ('Samoa', 2831, 2821, 10, 0.35),
 ('Iraq', 438317, 437367, 950, 0.22),
 ('Honduras', 112090, 111890, 200, 0.18),
 ('Sierra Leone', 71740, 71620, 120, 0.17),
 ('Burkina Faso', 274200, 273800, 400, 0.15),
 ('Congo, Republic of the', 342000, 341500, 500, 0.15),
 ('Namibia', 824292, 823290, 1002, 0.12),
 ('Cyprus', 9251, 9241, 10, 0.11),
 ('Korea, North', 120538, 120408, 130, 0.11),
 ('Djibouti', 23200, 23180, 20, 0.09),
 ('Costa Rica', 51100, 51060, 40, 0.08),
 ('Guinea', 245857, 245717, 140, 0.06),
 ('Morocco', 446550, 446300, 250, 0.06),
 ('Bosnia and Herzegovina', 51197, 51187, 10, 0.02),
 ('Afghanistan', 652230, 652230, 0, 0.0),
 ('Algeria', 2381741, 2381741, 0, 0.0),
 ('Andorra', 468, 468, 0, 0.0),
 ('Angola', 1246700, 1246700, 0, 0.0),
 ('Antigua and Barbuda', 442, 442, 0, 0.0),
 ('Bahrain', 760, 760, 0, 0.0),
 ('Barbados', 430, 430, 0, 0.0),
 ('Bhutan', 38394, 38394, 0, 0.0),
 ('Cabo Verde', 4033, 4033, 0, 0.0),
 ('Central African Republic', 622984, 622984, 0, 0.0),
 ('Comoros', 2235, 2235, 0, 0.0),
 ('Dominica', 751, 751, 0, 0.0),
 ('Equatorial Guinea', 28051, 28051, 0, 0.0),
 ('Fiji', 18274, 18274, 0, 0.0),
 ('Georgia', 69700, 69700, 0, 0.0),
 ('Grenada', 344, 344, 0, 0.0),
 ('Kiribati', 811, 811, 0, 0.0),
 ('Kosovo', 10887, 10887, 0, 0.0),
 ('Kuwait', 17818, 17818, 0, 0.0),
 ('Lesotho', 30355, 30355, 0, 0.0),
 ('Libya', 1759540, 1759540, 0, 0.0),
 ('Liechtenstein', 160, 160, 0, 0.0),
 ('Luxembourg', 2586, 2586, 0, 0.0),
 ('Maldives', 298, 298, 0, 0.0),
 ('Malta', 316, 316, 0, 0.0),
 ('Marshall Islands', 181, 181, 0, 0.0),
 ('Mauritania', 1030700, 1030700, 0, 0.0),
 ('Micronesia, Federated States of', 702, 702, 0, 0.0),
 ('Monaco', 2, 2, 0, 0.0),
 ('Nauru', 21, 21, 0, 0.0),
 ('Oman', 309500, 309500, 0, 0.0),
 ('Palau', 459, 459, 0, 0.0),
 ('Qatar', 11586, 11586, 0, 0.0),
 ('Saint Kitts and Nevis', 261, 261, 0, 0.0),
 ('Saint Vincent and the Grenadines', 389, 389, 0, 0.0),
 ('San Marino', 61, 61, 0, 0.0),
 ('Sao Tome and Principe', 964, 964, 0, 0.0),
 ('Saudi Arabia', 2149690, 2149690, 0, 0.0),
 ('Serbia', 77474, 77474, 0, 0.0),
 ('Seychelles', 455, 455, 0, 0.0),
 ('Timor-Leste', 14874, 14874, 0, 0.0),
 ('Trinidad and Tobago', 5128, 5128, 0, 0.0),
 ('Tuvalu', 26, 26, 0, 0.0),
 ('United Arab Emirates', 83600, 83600, 0, 0.0),
 ('Vanuatu', 12189, 12189, 0, 0.0),
 ('Yemen', 527968, 527968, 0, 0.0),
 ('Ashmore and Cartier Islands', 5, 5, 0, 0.0),
 ('Christmas Island', 135, 135, 0, 0.0),
 ('Cocos (Keeling) Islands', 14, 14, 0, 0.0),
 ('Coral Sea Islands', 3, 3, 0, 0.0),
 ('Heard Island and McDonald Islands', 412, 412, 0, 0.0),
 ('Norfolk Island', 36, 36, 0, 0.0),
 ('Macau', 28, 28, 0, 0.0),
 ('Faroe Islands', 1393, 1393, 0, 0.0),
 ('Clipperton Island', 6, 6, 0, 0.0),
 ('Saint Pierre and Miquelon', 242, 242, 0, 0.0),
 ('Wallis and Futuna', 142, 142, 0, 0.0),
 ('Aruba', 180, 180, 0, 0.0),
 ('Curacao', 444, 444, 0, 0.0),
 ('Sint Maarten', 34, 34, 0, 0.0),
 ('Cook Islands', 236, 236, 0, 0.0),
 ('Niue', 260, 260, 0, 0.0),
 ('Tokelau', 12, 12, 0, 0.0),
 ('Bouvet Island', 49, 49, 0, 0.0),
 ('Jan Mayen', 377, 377, 0, 0.0),
 ('Svalbard', 62045, 62045, 0, 0.0),
 ('Anguilla', 91, 91, 0, 0.0),
 ('Bermuda', 54, 54, 0, 0.0),
 ('British Virgin Islands', 151, 151, 0, 0.0),
 ('Cayman Islands', 264, 264, 0, 0.0),
 ('Falkland Islands (Islas Malvinas)', 12173, 12173, 0, 0.0),
 ('Gibraltar', 6, 6, 0, 0.0),
 ('Guernsey', 78, 78, 0, 0.0),
 ('Jersey', 116, 116, 0, 0.0),
 ('Isle of Man', 572, 572, 0, 0.0),
 ('Montserrat', 102, 102, 0, 0.0),
 ('Pitcairn Islands', 47, 47, 0, 0.0),
 ('Saint Helena, Ascension, and Tristan da Cunha', 308, 122, 0, 0.0),
 ('South Georgia and South Sandwich Islands', 3903, 3903, 0, 0.0),
 ('Turks and Caicos Islands', 948, 948, 0, 0.0),
 ('American Samoa', 199, 199, 0, 0.0),
 ('Guam', 544, 544, 0, 0.0),
 ('Navassa Island', 5, 5, 0, 0.0),
 ('Northern Mariana Islands', 464, 464, 0, 0.0),
 ('Wake Island', 6, 6, 0, 0.0),
 ('Gaza Strip', 360, 360, 0, 0.0),
 ('Paracel Islands', 7, 7, 0, 0.0),
 ('Spratly Islands', 5, 5, 0, 0.0),
 ('Western Sahara', 266000, 266000, 0, 0.0)]